<!DOCTYPE HTML>
<html>
	<head>
		<title>Post.IO</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="icon" href="/images/post-io.png">
		<meta name="viewport" content="width=device-width, user-scalable=no">
	</head>
	<body>
		<div class="ui fixed inverted labelled icon menu">
			<div class="ui container">
				<div class="ui header link item">
					<a href="/">
						<i class="mail forward icon"></i>
						Post.IO
					</a>
				</div>
				<div class="right menu">
					<% if(!currentUser) { %>
						<div class="link item">
							<a href="/login">
								<i class="sign in icon"></i>
								Log In
							</a>
						</div>
						<div class="link item">
							<a href="/register">
								<i class="add user icon"></i>
								Sign Up
							</a>
						</div>
					<% } else { %>
						<div class="link item">
							<a><%= currentUser.username %></a>
						</div>
						<div class="link item">
							<a href="/logout">
								<i class="sign out icon"></i>
								Log Out
							</a>
						</div>
					<% } %>
				</div>
			</div>
		</div>
		<p style="margin-top: 5em;"></p>
		<div class="ui container">
			<% if(success && success.length > 0) { %>
				<div class="ui big success floating message">
					<div class="header">
						<p style="text-align: center;">
							<%= success %>
						</p>
					</div>							
				</div>
			<% } %>
			<% if(error && error.length > 0) { %>
				<div class="ui big error floating message">
					<div class="header">
						<p style="text-align: center;">
							<%= error %>
						</p>
					</div>							
				</div>
			<% } %>
		</div>
		<p style="margin-top: 5em;"></p>