<!DOCTYPE HTML>
<html>
	<head>
		<title>Post.IO</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="icon" href="/images/post-io.png">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="ui header item">
					<a href="/">
						<i class="mail forward icon"></i>
						Post.IO
					</a>
				</div>
				<div class="right menu">
					<% if(!currentUser) { %>
						<a class="item" href="/login">Log In</a>
						<a class="item" href="/register">Sign Up</a>
					<% } else { %>
						<a class="item">Signed in as <%= currentUser.username %></a>
						<a class="item" href="/logout">Log Out</a>
					<% } %>
				</div>
			</div>
		</div>
		<p style="margin-top: 5em;"></p>
		<div class="ui container">
			<% if(success && success.length > 0) { %>
				<div class="ui big success message">
					<a href="#"><i class="close icon"></i></a>
					<div class="header">
						<p style="text-align: center;">
							<%= success %>
						</p>
					</div>							
				</div>
			<% } %>
			<% if(error && error.length > 0) { %>
				<div class="ui big error message">	
					<a href="#"><i class="close icon"></i></a>
					<div class="header">
						<p style="text-align: center;">
							<%= error %>
						</p>
					</div>							
				</div>
			<% } %>
		</div>
		<p style="margin-top: 5em;"></p>