<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Post.IO</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<link rel="icon" href="/images/post-io.png">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body>

		<div id="landing-header">
			<img class="ui small rounded centered image" src="/images/post-io.png">
			<h1>Welcome to Post.IO!</h1>
			<a href="/posts" class="ui animated fade button" tabindex="0">
				<div class="visible content">
					Get Started
				</div>
				<div class="hidden content">
					<i class="right arrow icon"></i>
				</div>
			</a>
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		
	</body>
</html>