<% include partials/header %>

<div class="ui container">
    <div class="row">
        <h1 style="text-align: center">Sign Up</h1>
        <div style="width: 45.389%; margin: 25px auto;">
            <form class="ui form" action="/register" method="post">
                <div class="ui fluid left icon input field">
                    <input type="text" name="username" placeholder="Username">
                    <i class="user icon"></i>
                </div>
                <div class="ui fluid left icon input field">
                    <input type="password" name="password" placeholder="Password">
                    <i class="lock icon"></i>
                </div>
                <div class="ui fluid left icon input field">
                    <input type="password" name="confirm_password" placeholder="Confirm Password">
                    <i class="lock icon"></i>
                </div>
                <div class="field">
                    <button class="ui right floated animated fade positive button">
                        <div class="visible content">
                            Next
                        </div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </button>
                </div>
            </form>
            <a class="ui left floated animated fade secondary button" href="/posts">
                <div class="visible content">
                    Back
                </div>
                <div class="hidden content">
                    <i class="left arrow icon"></i>
                </div>
            </a>
        </div>
    </div>
</div>

<% include partials/footer %>