<% include ../partials/header %>

<div class="ui container">
    <div class="row">
        <h1 style="text-align: center">Create a new post</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form class="ui form" action="/posts" method="POST">
                <div class="ui fluid left icon input field">
                    <input type="text" name="name" placeholder="Name">
                    <i class="user icon"></i>
                </div>
                <div class="ui fluid left icon input field">
                    <input type="text" name="image" placeholder="Image URL">
                    <i class="photo icon"></i>
                </div>
                <div class="ui fluid input field">
                    <textarea name="description" placeholder="Description"></textarea>
                </div>
                <div class="field">
                    <button class="ui right floated animated fade positive button">
                        <div class="visible content">
                            Submit
                        </div>
                        <div class="hidden content">
                            <i class="right arrow icon"></i>
                        </div>
                    </button>
                </div>
            </form>
            <a class="ui left floated animated fade secondary button" href="/posts">
                <div class="visible content">
                    Go Back
                </div>
                <div class="hidden content">
                    <i class="left arrow icon"></i>
                </div>
            </a>
        </div>
    </div>
</div>

<% include ../partials/footer %>